Files/home/jovyan/work/1/programming_assignment/data/*

Files/home/jovyan/work/2/programming_assignment/data/*

Files/home/jovyan/work/3/programming_assignment/data/*

Files/home/jovyan/work/4/programming_assignment/data/*

Files/home/jovyan/work/5/programming_assignment/data/*

Files/home/jovyan/work/2/readings/figures/*

Files/home/jovyan/work/2/tutorials/data/*

Files/home/jovyan/work/3/readings/data/*

Files/home/jovyan/work/3/readings/figures/*